@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GothamSSm-Book_web.woff2'; /* Choose a name for your font family */
  src: local('GothamSSm-Book_web.woff2'), url('/fonts/GothamSSm-Book_web.woff2') format('woff2');
  /* Add additional font formats if necessary (e.g., woff, ttf) */
}

body {
  font-family: 
  "Gotham SSm"
  "Gotham-thin"
  -apple-system
  BlinkMacSystemFont
  "Segoe UI"
  Roboto
  "Helvetica Neue"
  Arial
  sans-serif; /* Use your font in the body or specific elements */
}


