@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gotham.otf'; /* Choose a name for your font family */
  src: local('Gotham.otf'), url('/fonts/Gotham.otf') format('woff2');
  /* Add additional font formats if necessary (e.g., woff, ttf) */
}

body {
  font-family: 'Gotham.otf', sans-serif; /* Use your font in the body or specific elements */
}